:root {
  --medium-red: #d00000;
  --orange: #ffba08;
  --black: rgb(0, 0, 0);
  --dark-orange: #f48c06;
  --grey: rgb(122, 117, 117);
}
* {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hiden;
  width: 100vw;
}
header {
  grid-column: 1 / 3;
  background-color: var(--medium-red);
}
header ul {
  display: flex;
  align-items: center;
  flex-direction: row;
}
header li {
  list-style: none;
  font-size: 13vh;
}
header li .logga {
  width: 15vw;
}
main {
  background-color: var(--orange);
}
main a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--black);
  font-size: 10vh;
}
.grid {
  display: grid;
  grid-template-columns: 15vw 85vw;
  grid-template-rows: 18vh auto 5vh;
}
.grid2 {
  width: auto;
  min-height: auto;
  display: grid;
  grid-template-columns: 99%;
  grid-template-rows: 25vh 25vh 25vh 25vh 25vh;
}
.grid3 {
  outline: auto;
  outline-color: var(--dark-orange);
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
}
.grid3 img {
  height: 100%;
}
.grid3 .a {
  display: flex;
  justify-content: flex-end;
}
.grid4 {
  display: grid;
  grid-template-rows: 15% 85%;
  grid-template-columns: 99%;
}
.grid5 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}
.grid5 img {
  height: 100%;
}
.grid5 a {
  display: flex;
  justify-content: center;
  outline: auto;
  outline-color: var(--dark-orange);
}
.grid6 {
  display: grid;
  grid-template-columns: 15vw 85vw;
  grid-template-rows: 18vh 77vh 5vh;
}
.grid6 a {
  display: flex;
}
aside {
  background-color: var(--dark-orange);
  outline: auto;
  outline-color: var(--dark-orange);
}
aside a {
  text-decoration: none;
  color: var(--black);
  font-size: 5vh;
}
aside a:hover {
  font-size: 5vh;
  text-decoration: underline;
}
footer {
  grid-column: 1 / 3;
  background-color: var(--black);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  list-style: none;
  color: var(--medium-red);
}
::-webkit-scrollbar {
  width: 0.7vw;
}
::-webkit-scrollbar-track {
  background: var(--black);
}
::-webkit-scrollbar-thumb {
  background: var(--black);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--grey);
}
