:root {
  --medium-red: #d00000;
  --orange: #ffba08;
  --grey: #333;
  --dark-orange: #f48c06;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

main {
  background-color: var(--orange);
}
header {
  grid-column: 1 / 3;
  background-color: var(--medium-red);
}
footer {
  grid-column: 1 / 3;
  background-color: var(--grey);
}
header li {
  list-style: none;
  display: inline;
}
header li .logga {
  width: 15vw;
}
aside {
  background-color: var(--dark-orange);
}
.grid {
  width: 100vw;
  min-height: 100vw;
  display: grid;
  grid-template-columns: 15vw auto;
  grid-template-rows: 8.95vw auto 5vw;
}
