:root {
  --medium-red: #d00000;
  --orange: #ffba08;
  --grey: rgb(0, 0, 0);
  --dark-orange: #f48c06;
}
.grid {
  width: 100vw;
  min-height: 100vw;
  display: grid;
  grid-template-columns: 15vw auto;
  grid-template-rows: 8.95vw auto 5vw;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
header {
  grid-column: 1 / 3;
  background-color: var(--medium-red);
}
header li {
  list-style: none;
  display: inline;
}
header li .logga {
  width: 15vw;
}
main {
  background-color: var(--orange);
}
aside {
  background-color: var(--dark-orange);
}
footer {
  grid-column: 1 / 3;
  background-color: var(--grey);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  list-style: none;
  color: var(--medium-red);
}
